node_modules/
.env
.DS_Store
npm-debug.log*

.env
node_modules/

.env
node_modules/
data/levels.json

data/levels.json
data/rankCardSettings.json

*.bak
.gitignore]
data/credits.json
data/gameRewards.json
